.bottomLeft{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 1%;
}

img{
    width: 60px;
}
.content{
    background: rgb(0, 119, 255);
    position: relative;
    padding: 20px;
    height: 250px;
    border-radius: 35px;
    overflow: hidden;
    color: #fff;
}
.content .anotherLogo2{
   display: flex;
   gap: 10px;
}
.anotherLogo2 img{
    width: 25px;
}
.anotherLogo2 h1{
    font-size: small;
}
h3{
    position: absolute;
    right: 10%;
    top: 20px;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
}
.belowPart{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
}
.belowPart button{
    border-radius: 35px;
    border: none;
    padding: 10px 20px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}
.belowPart img{
    
}
.contentTwo{
    background: #8e9db4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    color: #fff;
    border-radius: 35px;
}
.contentTwo button{
    background: transparent;
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 35px;
    color: #fff;

}