.bottomLeft{
    position: relative;
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 50px;
    padding: 1%;
}

img{
    width: 60px;
}
.content{
    background: url(https://t3.ftcdn.net/jpg/05/00/87/92/360_F_500879222_wpCUeJiRsGT9t6SeVxa4xEtXaITwHcaW.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 20px;
    height: 250px;
    border-radius: 35px;
    overflow: hidden;
    color: #fff;
}
.content .anotherLogo2{
   display: flex;
   gap: 10px;
}
.anotherLogo2 img{
    width: 25px;
}
.anotherLogo2 h1{
    font-size: .6em;
}
h3{
    position: absolute;
    right: 10%;
    top: 20px;
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
}
.belowPart{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 5px;
    gap: 10px;
    left: 5px;
}
.belowPart button{
    border-radius: 35px;
    border: none;
    padding: 10px 20px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}
.belowPart img{
    border-radius: 50%;
}
.contentTwo{
    background: #8e9db4;
    background: url(https://img.freepik.com/premium-photo/stack-books-with-ball-top-it_582637-11143.jpg?w=1380);
    background-position: 0%;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    color: #fff;
    border-radius: 50px;
    position: relative;
}
.contentTwo p{
    font-size: .8em;
    margin: 0 0 20px 0;
}
.contentTwo button{
    background: transparent;
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 35px;
    color: #fff;
    
}

.contentTwo img{
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
}