.NavBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 3%;
}
.logo{
    display: flex;
    gap: 10px;
}
.logo h1{
    font-size: .8em;
    color: #fff;
}
.logo img{
    width: 20px;
}
ul li{
    display: flex;
    gap: 75px;
}
ul li a{
    color: #fff;
    text-decoration: none;
    font-size: .5em;
}
.btn1{
    padding: 5px 10px;
    border-radius: 50px;
    border: none;
    font-weight: bold;
}