.Top{
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}
.containerWrapper{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.TopLeftContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2% 5%;
    background: #fff;
    border-radius: 30px;
}
.TopLeftContainer h1{
    font-size: 2em;
}
.TopLeftContainer p{
    padding: 0px 0 60px 0;
}
.btn2{
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    padding: 10px 90px 10px 20px;
    border-radius: 50px;
    border: none;
    background: #2519ff;
    color: #fff;
    margin: 10px 0;
}

.TopRightContainer1{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: center;
    gap: 10px 15px;
    border: 1px solid orange;
    height: auto;
    border-radius: 50px;
    padding: 20px;
    color: #fff;
}
.TopRightContainer1 h1{
    font-size: 2em;
    font-weight: 300;
}
.TopRightContainer1 p{
    font-size: .7em;
}
.TopRightContainer1 span{
    font-size: .7em;
}
.TopRightContainer2{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: #fff;
    
}
.anotherLogo{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.coloredLogo{
    color: #e1addb;
}